<div ng-repeat="game in games">
  <label>{{game.name}}</label>  
  <button ng-click="showGame(game._id)" class="btn btn-primary">View</button>
  <button ng-click="deleteGame(game._id)" class="btn btn-danger">   
    <i class="icon-trash icon-white"></i>
  </button>
</div>

<input ng-model="gameName" type="text"></input>
  
<select ng-model="player1" ng-change="test()" ng-options="player.name for player in players">
</select>

<select ng-model="player2" ng-options="player.name for player in players">
</select>

<label>Player 1: {{player1.name}} : {{player1._id}}</label>
<label>Player 2: {{player2.name}} : {{player2._id}}</label>
<label>Game Name: {{gameName}}</label>
<button class="btn btn-primary" ng-click="createGame()">Create Game</button>