<div class="row">
  <div class="span4">
    <h2>Play</h2>
    <p>Play against other humans, or take on the best the AI community has to offer</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Code</h2>
    <p>Find out how you can write your own engine for one of the games</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>  
  <div class="span4">
    <h2>Compete</h2>
    <p>Enter your application in an upcoming tournament</p>
    <p><a class="btn" href="#">More details</a></p>
  </div>
</div>