<div class="row-fluid">
  <div class="span6">
    <h4>Noughts and Crosses</h4>
    <div ng-show="game">
      Showing game: {{game.name}}
      <br/>
      {{player1.name}} vs {{player2.name}}
      <br/>
      <br/>
      <div>
        <div ng-show="(nextPlayer._id == player._id)">
          It's your move...
        </div>
        <div ng-show="(nextPlayer._id != player._id)">
          Waiting for your opponent to move..
        </div>
        <div class="winner" ng-show="winner">Player {{winningPlayer.name}} {{winner}} has won!
        </div>
        <div>
          <table class="board">
            <tr ng-repeat="row in board" style="height:15px;">
              <td ng-repeat="cell in row" ng-style="cellStyle"
                  ng-click="dropPiece($parent.$index, $index)">{{cell}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <hr/>
    <h4>New Game</h4>
    <input ng-model="gameName" type="text"></input>
      
    <select ng-model="newplayer1" ng-change="test()" ng-options="player.name for player in players">
    </select>

    <select ng-model="newplayer2" ng-options="player.name for player in players">
    </select>

    <button class="btn btn-primary" ng-click="createGame()">Create Game</button>
    <hr/>
    <h4>Debug info</h4>
    <br/>
    player1: {{player1.name}}
    <br/>
    player2: {{player2.name}}
    <br/>
    next Player: {{nextPlayer.name}}
    <br/>
    game: {{game.name}}
  </div>
  <div class="span6">
    <h4>Select current player</h4>
    <select ng-model="player" ng-change="changeSelectedPlayer()" ng-options="player.name for player in players">
    </select>
    <hr/>
    <h4>{{player.name}} games</h4>
    <div ng-repeat="game in games">
      <label>{{game.name}}</label>
      <button class="btn btn-info btn-small" ng-click="selectGame(game._id)">
        <i class="icon-white icon-play-circle"></i>
      </button>
      <button class="btn btn-danger btn-small" ng-click="deleteGame(game._id)">
        <i class="icon-white icon-trash"></i>
      </button>
    </div>
  </div>
</div>