<label name="playerName">Name:</label>
<input type="text" ng-model="newPlayerName"></input>
<button class="btn-primary" ng-click="createPlayer(newPlayerName)">New Player</button>
  <div ng-controller="socket">
    The current time is {{time}}
  </div>
<div ng-repeat="player in players">
  <label>{{player.name}}</label>
  <a class="btn btn-small btn-info" ng-href="/games?player={{player._id}}">
    <i class="icon-play-circle icon-white"></i>
  </a>
  <button class="btn btn-small btn-danger" ng-click="deletePlayer(player._id)">
    <i class="icon-trash icon-white"></i>
  </button>
</div>